<!-- section three -->
<section class="bg-white px-8 md:px-20 justify-center">
  <div class="md:flex md:items-center">
    <div>
      <img src="../images/table.jpg" alt="Image of a room" class="rounded-lg mt-20 md:w-10/12 md:ml-28" />
    </div>

    <div class="md:pl-52">
      <div>
        <div class="h-16 w-16 bg-green-300 rounded-full mt-2 mt-10">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="absolute ml-3 mt-2 h-10- w-10"
            viewBox="0 0 20 20"
            fill="green"
          >
            <path
              fillRule="evenodd"
              d="M12.395 2.553a1 1 0 00-1.45-.385c-.345.23-.614.558-.822.88-.214.33-.403.713-.57 1.116-.334.804-.614 1.768-.84 2.734a31.365 31.365 0 00-.613 3.58 2.64 2.64 0 01-.945-1.067c-.328-.68-.398-1.534-.398-2.654A1 1 0 005.05 6.05 6.981 6.981 0 003 11a7 7 0 1011.95-4.95c-.592-.591-.98-.985-1.348-1.467-.363-.476-.724-1.063-1.207-2.03zM12.12 15.12A3 3 0 017 13s.879.5 2.5.5c0-1 .5-4 1.25-4.5.5 1 .786 1.293 1.371 1.879A2.99 2.99 0 0113 13a2.99 2.99 0 01-.879 2.121z"
              clipRule="evenodd"
            />
          </svg>
        </div>
      </div>
      <div>
        <h2 class="text-2xl font-semibold text-opacity-90 text-indigo-900 mt-4">A growing company</h2>
        <p class="text-gray-500 text-opacity-90 text-lg mt-4">
          The extension comes with three pre-built pages to help you get started faster. You can change the text and
          images and you're good to go.
        </p>
      </div>

      <div class="">
        <div class="">
          <div class="mt-6 flex justify-start flex-row place-items-center">
            <div class="h-5 w-6 mt-1 bg-green-300 rounded-full flex">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="absolute h-4 w-4 ml-1"
                fill="none"
                viewBox="0 0 25 21"
                stroke="black"
              >
                <path
                  strokeLinecap="round"
                  strokeLinejoin="round"
                  strokeWidth="{0.5}"
                  d="M12 11c0 3.517-1.009 6.799-2.753 9.571m-3.44-2.04l.054-.09A13.916 13.916 0 008 11a4 4 0 118 0c0 1.017-.07 2.019-.203 3m-2.118 6.844A21.88 21.88 0 0015.171 17m3.839 1.132c.645-2.266.99-4.659.99-7.132A8 8 0 008 4.07M3 15.364c.64-1.319 1-2.8 1-4.364 0-1.457.39-2.823 1.07-4"
                />
              </svg>
            </div>
            <div><span class="text-gray-500 ml-3 align-middle text-center">Carefully crafted components </span></div>
          </div>
          <div class="mt-4 flex justify-start flex-row place-items-center">
            <div class="h-5 w-6 mt-1 bg-green-300 rounded-full flex">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="absolute h-4 w-4 ml-1"
                fill="none"
                viewBox="0 0 25 21"
                stroke="black"
              >
                <path
                  strokeLinecap="round"
                  strokeLinejoin="round"
                  strokeWidth="{1}"
                  d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"
                />
              </svg>
            </div>
            <div><span class="text-gray-500 ml-3 align-middle text-center">Amazing page examples </span></div>
          </div>
          <div class="mt-4 flex justify-start flex-row place-items-center">
            <div class="h-5 w-6 mt-1 bg-green-300 rounded-full flex">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="absolute h-4 w-4 ml-1"
                fill="none"
                viewBox="0 0 25 21"
                stroke="black"
              >
                <path
                  strokeLinecap="round"
                  strokeLinejoin="round"
                  strokeWidth="{1}"
                  d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"
                />
              </svg>
            </div>
            <div><span class="text-gray-500 ml-3 align-middle text-center">Dynamic components </span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
