<!-- section two -->
<section class="bg-gray-200 w-screen pb-20 px-8 md:px-24 justify-center flex">
  <div class="flex flex-col mx-auto">
    <div class="flex flex-col md:flex-row">
      <div class="md:pl-24">
        <div>
          <div class="h-16 w-16 bg-white rounded-full relative">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-7 w-7 absolute top-4 left-5 fill-current text-gray-500"
              viewBox="0 0 21 20"
              fill="currentColor"
            >
              <path
                d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z"
              />
            </svg>
          </div>
        </div>
        <div class="py-4">
          <h2 class="text-3xl font-semibold text-gray-800 leading-normal">Working with us is a pleasure</h2>
        </div>
        <div>
          <p class="leading-relaxed text-gray-700">
            Don't let your uses guess by attaching tooltips and popoves to any element. Just make sure you enable them
            first via JavaScript.
          </p>
          <p class="leading-relaxed text-gray-700 py-3 pb-5">
            The kit comes with three pre-built pages to help you get started faster. You can change the text and images
            and you're good to go. Just make sure you enable them first via JavaScript.
          </p>
        </div>
        <div>
          <a href="#" class="font-bold text-gray-800">Check Vue Notus!</a>
        </div>
      </div>
      <div class="md:pr-24 md:pl-20">
        <div class="pt-2">
          <img class="md:h-60 md:w-96 rounded-t-lg" src="../images/laugh.jpg" alt="" />
        </div>
        <div class="bg-green-500 h-48 p-8 rounded-b-lg -mt-1 md:h-52 md:w-96">
          <div>
            <h3 class="text-lg font-bold text-white">Top Notch Services</h3>
          </div>
          <div class="pt-2">
            <p class="text-gray-100 font-thin">
              The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process
              will continue whatever happens.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
