<div class="h-96 w-screen bg-cover bg-local transform -rotate-1	" style="background-image:linear-gradient(rgba(37, 35, 35, 0.9), rgba(37, 35, 35, 0.9)), url(https://images.unsplash.com/photo-1557804506-669a67965ba0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80)">
    <header class="transform rotate-1  flex py-5 pt-2 px-6 justify-between align-middle text-center">
      
    
            <div class=" uppercase font-bold text-sm text-white self-center justify-between align-middle">
                <a href="#">Vue notus</a>
            </div>
    
        <div class="self-center">
            <a href="#">
            <button class=" border rounded py-1 px-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 fill-current text-white" viewBox="0 0 20 20" >
                    <path fillRule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clipRule="evenodd" />
                  </svg>
            </button>
        </a>
        </div>
    </header>
    
    <div class="flex flex-col justify-center transform rotate-1 text-center px-10 text-white">
        <div>
            <p class="text-5xl font-semibold">Your story starts with us.
            </p>
        </div>
    <div class="mt-4">
        <p class="text-lg">This is a simple example of a Landing Page you can build using Vue Notus. It features multiple CSS components based on the Tailwind CSS design system.</p>
    </div>
    </div>
    <div></div>
    </div>